{% extends "templates/bs4.html" %}
{% block cuerpo %}
<div class="wrapper">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Icon -->
			<div>
				<img src="/img/myWallapop.svg" id="icon" alt="User Icon" />
			</div>

			<!-- Login Form -->
			<form method="post" action="/identificarse">
				<input type="text" id="login"  name="username" placeholder="Email" required="true"> 
				
				<input type="password" id="password" name="password" placeholder="Password" required="true">

				<div id="loginError" style="text-align: center">
					<script src="/js/message.js"></script>
					<script>
						var mensaje = getUrlParameter('mensaje');
						var tipoMensaje = getUrlParameter('tipoMensaje');
						if (mensaje != "") {
							if (mensaje.includes("incorrecto")) {
								if (tipoMensaje == "") {
									tipoMensaje = 'alert-danger';
								}
								$("#loginError")
										.append("<div class='alert " + tipoMensaje + "'>" + mensaje + " </div>");
							}
						}
					</script>
				</div>

				<input id="enviar" type="submit" value="Enviar">
			</form>

			<!-- Remind Passowrd -->
			<div id="formFooter">
				<a class="underlineHover" href="/registrarse">Registrarse</a>
			</div>
		</div>
</div>
{% endblock %}