{% extends "../templates/base.html" %}
{% block cuerpo %}
<div class="container">
    <h2>Mis ofertas</h2>
    <div class="table-responsive">
        <table class="table table-hover"
               id="tableSales">
            <thead class="table-dark">
            <tr class="text-center">
                <th class="col-md-2">Titulo</th>
                <th>Detalles</th>
                <th class="col-md-2">Precio</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody class="table-light">
            {% for sale in salesList %}
            <tr class="text-center">
                <td>{{sale.title}}</td>
                <td>{{sale.details}}</td>
                <td>{{sale.price}}€</td>
                <td><a class="deleteSale" href="/sales/delete/{{sale._id.toString()}}">Eliminar</a></td>
                {% if sale.fav !== 'true'%}
                <td><a href="{{'/sale/fav/' + sale._id.toString()}}" class="destacar">Destacar</a></td>
                {% else %}
                <td>Oferta destacada</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
