<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">

    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>

</head>
<body>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a href="/"><img src="/img/myWallapop-small.svg" alt="logo"/></a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                <li id="home"><a href="/">Home</a></li>
                {% if user.rol == 'rol_admin' %}
                    <li id="users-menu" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span th:remove="tag">Gestionar usuarios</span>
                        <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li id="usuarios"><a href="/user/list">Ver Usuarios</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user.rol == 'rol_estandar' %}
                    <li id="users-menu" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span th:remove="tag">Gestionar ofertas</span>
                        <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="/sales/add">Agregar oferta</a></li>
                            <li><a href="/sales/list">Listar ofertas</a></li>
                            <li><a href="/sales/search">Buscar ofertas</a></li>
                            <li><a href="/sales/purchased">Lista de ofertas
                                compradas</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li><a href="/messages">Mensajes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="!isAuthenticated()"><a href="/signup">
                    <span class="glyphicon glyphicon-user"></span> Registrate
                </a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/login">
                    <span class="glyphicon glyphicon-log-in"></span> Identifícate
                </a></li>
                <li id="desconexion" sec:authorize="isAuthenticated()"><a
                        href="/desconectarse"><span
                        class="glyphicon glyphicon-log-out" value="Desconectarse"></span>
                </a></li>
            </ul>
        </div>
    </div>
</nav>
{% block cuerpo %} {% endblock %}
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; SDI - myWallapop</span>
    </div>
</footer>
</body>
</html>